body {

    /*background-: #111013;*/
    
}

html, body {
    height: 100%;
}

.wrapper
{
    margin: 0 auto;
    width: 94%;
    max-width: 1200px;
    min-width: 270px;
}

.map {
    /*width: 100%;
    height: 100%;*/
    position: absolute; !important;
    top: 38px;
    bottom: 190px;
    left: 0;
    right: 0;
    background: #1A1A1A !important;
}

.hidden
{
    display: none;
}


/* ==========================================================================
   Header
   ========================================================================== */

body > header {
    color: #ccc;
    padding: .5em 2em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #111013;
}

body > header h1
{
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
}

body > header .utilities
{
    float: right;
}

body > header .select-personas
{
    height: 0;
    overflow: hidden;
    position: absolute;
}

body > header .select-personas.show
{
    height: auto;
}



/* ==========================================================================
   Intro
   ========================================================================== */

.intro
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: url(../img/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* ==========================================================================
   Location details
   ========================================================================== */

.location-details
{
    color: #aaa;
    background: #111013;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.location-details:before
{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    opacity: .4;

    background: #f3dd46;
    background: -moz-linear-gradient(left,  #f3dd46 0%, #18976f 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f3dd46), color-stop(100%,#18976f));
    background: -webkit-linear-gradient(left,  #f3dd46 0%,#18976f 100%);
    background: -o-linear-gradient(left,  #f3dd46 0%,#18976f 100%);
    background: -ms-linear-gradient(left,  #f3dd46 0%,#18976f 100%);
    background: linear-gradient(to right,  #f3dd46 0%,#18976f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3dd46', endColorstr='#18976f',GradientType=1 );
}

.location-details header
{
    color: #fff;
    line-height: 1.2;

    text-align: center;
    width: 90px;
    height: 90px;
    padding: 30px;
    margin: -50px auto -70px;
    border-radius: 200px;
    background-clip: padding-box;
    overflow: hidden;
    position: relative;
    background: rgba(255,255,255,1);
    border: 8px solid rgba(0,0,0,.12);
}

.location-details header:before
{
    content: "";
    width: 90px;
    height: 90px;
    padding: 30px;
    border-radius: 200px;
    background-clip: padding-box;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: -moz-linear-gradient(-45deg,  rgba(255,255,255,0.3) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0.3)), color-stop(100%,rgba(0,0,0,1)));
    background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,0.3) 0%,rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(-45deg,  rgba(255,255,255,0.3) 0%,rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(-45deg,  rgba(255,255,255,0.3) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(135deg,  rgba(255,255,255,0.3) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#000000',GradientType=1 );

    opacity: .1;
}
/*.location-details header:after
{
    content: "";
    width: 100px;
    height: 100px;
    padding: 29px;
    border-radius: 200px;
    border: 1px solid #000;
    background-clip: padding-box;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    border-color: #fff #000 #000 #fff;
}*/

.location-details h2
{
    font-size: .75em;
    text-transform: uppercase;
    margin: 0;
    position: relative;
}

.location-details .stats-average
{
    font-size: 5em;
    font-weight: bold;

    position: relative;
    z-index: 10;
}

/*.location-details h2:before
{
    content: "";
    display: block;
    width: 500px;
    height: 120px;
    position: absolute;
    top: 50px;
    left: -100px;
    right: -100px;
    background: red;
}*/

/* ==========================================================================
   Stats
   ========================================================================== */


.stats ul
{
    padding: 0;
    margin: 0 0 1em;
}

.stats li
{
    text-align: center;
    width: 14.666%;
    display: inline-block;
}

.stats li.spacer
{
    width: 12%;
}

@media all and (max-width: 1060px) {
    .stats
    {
        margin-top: -130px;
    }
    .stats li
    {
        width: 25%;
        margin-bottom: -50px;
    }
    .stats li:first-child,
    .stats li:first-child + li
    {
        width: 50%;
        position: relative;
        bottom: -50px;
    }
    .stats li.spacer
    {
        width: 0%;
    }

}

@media all and (max-width: 600px) {

    .map
    {
        height: 70%;
    }
    .location-details
    {
       position: relative;
       top: 70%;
       margin-top: 38px;
    }
    .stats
    {
        max-width: 350px;
        margin: 0 auto;
    }
    .stats ul
    {
        margin-top: 80px;
    }
    .stats li
    {
        width: 50%;
        margin-bottom: 1.5em;
    }
    .stats li:first-child,
    .stats li:first-child + li
    {
        position: static;
        bottom: 0;
    }
    .stats li.spacer
    {
        width: 0%;
    }
}

.stats li strong
{
    font-size: 0.813em;
    font-weight: normal;
    font-style: italic;
    display: block;
    margin: .75em 0;
}

.stats .chart
{
    margin: 0 auto;
}

.stats .chart > div
{
    font-size: .75em !important;
    color: #fff;
}

.stats .stats-info
{
    display: none;
}


/* ==========================================================================
   Select personas
   ========================================================================== */

.intro > h1
{
    text-align: center;
    color: #fff;
    opacity: .8;
    width: 90%;
    margin: 100px auto 0;
    max-width: 500px;
    clear: both;
}

.intro .intro-text
{
    text-align: center;
    font-size: 0.875em;
    color: #fff;
    opacity: .8;
    width: 100%;
    margin: 50px auto 0;
    padding: 2em 0;
    clear: both;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,.5);
}

@media all and (max-width: 600px) {
    .intro .intro-text
    {
        position: relative;
    }
}

.intro .intro-text > p
{
    width: 90%;
    max-width: 500px;
    margin: 0 auto 0;
    max-width: 500px;
}

.intro .select-personas {
    margin: auto;
    padding: 2em 0;
    /*idth: 90%;*/
    max-width: 245px;
    height: 200px;
    /*position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;*/
}

.select-personas a {
    color: #fff;
    text-decoration: none;
    display: block;
    float: left;
    margin: 1px;
    width:120px;
    height:120px;
    outline: none !important; 
    /*padding: .75em 1.5em .55em;*/
    margin-bottom: 1px;
    background: rgba(24,151,111,.6);
    position: relative;
}

.select-personas a span {
    text-indent: -999em;
    display: block;
    width: 70px;
    height: 70px;
    position: absolute;
    background: url(../img/hack-sprite.png) no-repeat 0 0;
    pointer-events: none;
}

.select-personas a:first-child
{
     border-radius: 140px 0 0 0;
     -moz-border-radius: 140px 0 0 0;
     -webkit-border-radius: 140px 0 0 0;
}

.select-personas a:first-child span
{
    background-position: -84px 0;
    bottom: 9px;
    right: 5px;
}

.select-personas a:first-child + a
{
    border-radius: 0 140px 0 0;
    -moz-border-radius: 0 140px 0 0;
    -webkit-border-radius: 0 140px 0 0;
}

.select-personas a:first-child + a span
{
    background-position: -243px 0;
    bottom: 6px;
    left: 17px;
}

.select-personas a:first-child + a + a
{
    border-radius: 0 0 0 140px;
    -moz-border-radius: 0 0 0 140px;
    -webkit-border-radius: 0 0 0 140px;
}

.select-personas a:first-child + a + a span
{
    background-position: -164px 0;
    bottom: 33px;
    left: 44px;
}

.select-personas a:first-child + a + a + a
{
    border-radius: 0 0 140px 0;
    -moz-border-radius: 0 0 140px 0;
    -webkit-border-radius: 0 0 140px 0;
     
}

.select-personas a:first-child + a + a + a span
{
    bottom: 33px;
    left: 16px;
     
}

.select-personas a:hover
{
    background-color: #18976f;
    -webkit-transition: background-color .2s ease-in-out;
-moz-transition: background-color .2s ease-in-out;
-o-transition: background-color .2s ease-in-out;
transition: background-color .2s ease-in-out;
}


