body {

    /*background-: #111013;*/
    
}

html, body {
    height: 100%;
}

.wrapper
{
    margin: 0 auto;
    width: 90%;
}

.map {
    /*width: 100%;
    height: 100%;*/
    position: absolute; !important;
    top: 38px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #1A1A1A !important;
}


/* ==========================================================================
   Header
   ========================================================================== */

body > header {
    color: #ccc;
    padding: .5em 2em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #111013;
}

body > header h1
{
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
}

body > header .utilities
{
    float: right;
}

body > header .select-personas
{
    height: 0;
    overflow: hidden;
    position: absolute;
}

body > header .select-personas.show
{
    height: auto;
}



/* ==========================================================================
   Intro
   ========================================================================== */

.intro
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: url(../img/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* ==========================================================================
   Location details
   ========================================================================== */

.location-details
{
    color: #aaa;
    background: #111013;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.location-details:before
{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: .4;

    background: #f3dd46;
    background: -moz-linear-gradient(left,  #f3dd46 0%, #18976f 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f3dd46), color-stop(100%,#18976f));
    background: -webkit-linear-gradient(left,  #f3dd46 0%,#18976f 100%);
    background: -o-linear-gradient(left,  #f3dd46 0%,#18976f 100%);
    background: -ms-linear-gradient(left,  #f3dd46 0%,#18976f 100%);
    background: linear-gradient(to right,  #f3dd46 0%,#18976f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3dd46', endColorstr='#18976f',GradientType=1 );
}

.location-details header
{
    text-align: center;
    width: 100px;
    height: 100px;
    padding: 30px;
    margin: -50px auto 50px;
    border-radius: 200px;
    overflow: hidden;
    position: relative;
    background: rgba(255,255,255,.08);
    border-bottom: 1px solid rgba(0,0,0,.6);
}

.location-details h2
{
    font-size: .625em;
    text-transform: uppercase;
    margin: 0;
}

.location-details .stats-average
{
    color: #fff;
    font-size: 5em;
    font-weight: bold;

    position: relative;
    z-index: 10;
}

.location-details header:before
{
    content: "";
    display: block;
    width: 500px;
    height: 120px;
    position: absolute;
    bottom: 0;
    left: -100px;
    right: -100px;
    background: red;
}

/* ==========================================================================
   Stats
   ========================================================================== */


.stats ul
{
    padding: 0;
}

.stats li
{
    text-align: center;
    width: 16.666%;
    display: inline-block;
}

.stats li strong
{
    font-size: 0.813em;
    font-weight: normal;
    font-style: italic;
    display: block;
    margin: .75em 0;
}

.stats .chart
{
    margin: 0 auto;
}

.stats .stats-info
{
    display: none;
}


/* ==========================================================================
   Select personas
   ========================================================================== */

.intro .select-personas {
    margin: auto;
    padding: 2em 0;
    width: 90%;
    max-width: 250px;
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.select-personas a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: .75em 1.5em .55em;
    margin-bottom: 1px;
    background-color: #137757;
}

.select-personas a:hover
{
    background-color: #18976f;
}


