<div class="map js-map-canvas"></div>

<div class="intro js-persona-container">
    <div class="select-personas">
        {{#personas}}
        <a href="#" data-persona="{{identifier}}" data-persona-name="{{name}}">{{name}}</a>
        {{/personas}}
    </div>
</div>


<section class="location-details js-location-details" style="display:none">
   
    <header class="stats-average-colour">
        <h2 class="js-borough-name">Location name</h2>
        <div class="stats-average js-borough-score">60%</div>
    </header>

    <div class="wrapper">
        <div class="stats">
            <ul>
                <li>
                    <div data-percent="50" class="js-chart-safety chart"></div>
                    <strong>Safety</strong>
                    <div class="stats-info">Bla bla</div>
                </li><!-- 
                 --><li>
                    <div data-percent="50" class="js-chart-pollution chart"></div>
                    <strong>Pollution</strong>
                    <div class="stats-info">Bla bla</div>
                </li><!-- 
                 --><li>
                    <div data-percent="50" class="js-chart-cost chart"></div>
                    <strong>Cost of living</strong>
                    <div class="stats-info">Bla bla</div>
                </li><!-- 
                 --><li>
                    <div data-percent="50" class="js-chart-employment chart"></div>
                    <strong>Employment rate</strong>
                    <div class="stats-info">Bla bla</div>
                </li><!--
                   --><li>
                  <div data-percent="50" class="js-chart-education chart"></div>
                  <strong>Quality of education</strong>
                  <div class="stats-info">Bla bla</div>
                </li><!--
                  --><li>
                  <div data-percent="50" class="js-chart-services chart"></div>
                  <strong>Public Services</strong>
                  <div class="stats-info">Bla bla</div>
            </li>
            </ul>

        </div>
    </div>
</section>