<div class="map js-map-canvas"></div>

<div class="intro">
    <div class="select-personas js-persona-container">
        {{#personas}}
        <a href="#" data-persona="{{identifier}}">{{name}}</a>
        {{/personas}}
    </div>
</div>


<section class="location-details js-location-details" style="display:none">
    <h2 class="js-borough-name">Location name</h2>
    <div class="stats">
        <div class="stats-average js-borough-score">
            60%
        </div>
        <ul>
            <li>
                <strong>Safety</strong>
                <div data-percent="50" class="js-chart-safety"></div>
                <div class="stats-info">Bla bla</div>
            </li><!-- 
             --><li>
                <strong>Pollution</strong>
                <div data-percent="50" class="js-chart-pollution"></div>
                <div class="stats-info">Bla bla</div>
            </li><!-- 
             --><li>
                <strong>Cost of living</strong>
                <div data-percent="50" class="js-chart-cost"></div>
                <div class="stats-info">Bla bla</div>
            </li><!-- 
             --><li>
                <strong>Employment rate</strong>
                <div data-percent="50" class="js-chart-employment"></div>
                <div class="stats-info">Bla bla</div>
            </li><!--
               --><li>
              <strong>Quality of education</strong>
              <div data-percent="50" class="js-chart-education"></div>
              <div class="stats-info">Bla bla</div>
            </li><!--
              --><li>
              <strong>Public Services</strong>
              <div data-percent="50" class="js-chart-services"></div>
              <div class="stats-info">Bla bla</div>
        </li>
        </ul>

    </div>
</section>