<div class="map js-map-canvas"></div>

<div class="intro js-persona-container">
    <div class="intro-content">
        <h1 class="heading"><span>Explore</span> London boroughs</h1>
        <p>Select your persona below and discover the ideal boroughs for you to live in</p>
        <div class="persona-container select-personas">
            {{#personas}}
            <a class="persona persona-{{identifier}}" href="#" data-persona="{{identifier}}" data-persona-name="{{name}}" title="{{name}}"><span>{{name}}</span></a>
            {{/personas}}
        </div>
    </div>
    <div class="intro-description">
        <p>CloudOver has collated and aggregated data from various sources to provide you with a tool to find the most suitable areas in London for you to live in. The results are based the following factors: Crime levels, Access to Education, Level of Pollution, Access to Services, Cost of Living, Employment Levels and Area Desirability (<a href="/api/0/">CloudOver API</a>)</p>
        <p><small>CloudOver, a working prototype created at <a href="http://hackathoncentral.com/winners_spring_2013/">Hackathon Central 2013</a></small></p>
    </div>
</div>


<section class="location-details js-location-details" style="display:none">

    <header class="js-average-colour">
        <h2 class="js-borough-name">Location name</h2>
        <div class="stats-average js-borough-score">60%</div>
    </header>

    <div class="wrapper">
        <div class="stats">
            <ul>
                <li>
                    <div data-percent="50" class="js-chart-safety chart"></div>
                    <strong>Safety</strong>
                    <div class="stats-info">Bla bla</div>
                </li><!--
                --><li>
                    <div data-percent="50" class="js-chart-pollution chart"></div>
                    <strong>Pollution</strong>
                    <div class="stats-info">Bla bla</div>
                </li><!--
                --><li>
                    <div data-percent="50" class="js-chart-cost chart"></div>
                    <strong>Cost of living</strong>
                    <div class="stats-info">Bla bla</div>
                </li><!--
                --><li class="spacer">
                </li><!--
                --><li>
                    <div data-percent="50" class="js-chart-employment chart"></div>
                    <strong>Employment rate</strong>
                    <div class="stats-info">Bla bla</div>
                </li><!--
                --><li>
                  <div data-percent="50" class="js-chart-education chart"></div>
                  <strong>Quality of education</strong>
                  <div class="stats-info">Bla bla</div>
                </li><!--
                --><li>
                  <div data-percent="50" class="js-chart-services chart"></div>
                  <strong>Public Services</strong>
                  <div class="stats-info">Bla bla</div>
            </li>
            </ul>

        </div>
    </div>
</section>
